.login {
    background-image: url(http://schoolerpindia.co.in/demo/school2/login-v1/image/login_v1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* opacity: 0.8; */
    color: #FFFFFF;
    overflow: auto;
    position: fixed;
    width: 100%;
}

.login__contents {
    background: rgba(0, 0, 0);
    margin-top: 50px !important;
    width: 40%;
    margin: 0 auto;
    margin-left: 30%;
    border-collapse: separate;
    border-spacing: 0;
    height: 360px;
    display: inline-block;
}

.login__form {
    padding: 6px 5px 5px 5px;
    margin-top: 5%;
    margin-left: 50px;
}

.login__logocontents {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 100px;
    background-color: lightgray;
}

.login__logo {
    margin: 2px 2px 2px 100px;
    height: 100px;
    width: 275px;
}

.login__label label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-right: 20px;
}

.login__label input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 66%;
    max-width: 100%;
}

.login__password {
    margin-left: 5px;
}

.login__buttons {
    margin-left: 200px;
}

.login__button {
    border-radius: 6px;
    background: linear-gradient(45deg, #EC3237, #ED2D33) !important;
    color: white;
    padding: 0.3rem;
    width: 90px;
    font-weight: 600;
}

.submit {
    margin-left: 35px;
}

.login__errors {
    margin-left: 20%;
    color: red;
    font-size: 12px;
}

.submit__errors {
    margin-top: 10px !important;
    padding: 95px;
    color: red;
    font-size: 15px;
}
