* {
  margin: 0;
}

.App {
  margin-bottom: 65px;
}

.below__carousel {
  background-color: #F7F8FC;
}

.app_services {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
  margin-top: 10px;
}